{% extends "layout.twig" %}

{% block title %}Lobby{% endblock %}

{% block content %}
	<div class="page-header">
		<h1>PHPølse - Game #{{ gameId }}</h1>
	</div>

	<div id="board" class="board">
		{% for x in 0..7 %}
			{% for y in 0..7 %}
				{% if tiles[x][y] is defined %}
					{% if tile.type == 'elephant' or tile.type == 'wurst' or tile.type == 'fellow' or tile.type == 'block' %}
						<div class="board-cell" data-x="{{ tile.x }}" data-y="{{ tile.y }}">
							<div class="tile tile-{{ tile.type }}">
						</div>
					{% else %}
						<div class="board-cell droppable" data-x="{{ tile.x }}" data-y="{{ tile.y }}"></div>
					{% endif %}
				{% else %}
					<div class="board-cell droppable" data-x="{{ tile.x }}" data-y="{{ tile.y }}"></div>
				{% endif %}
			{% endfor %}
		{% endfor %}
	</div>

	<br />
	
	<div id="player-tiles">
		{% for playerTile in playerTiles %}
			<div class="tile tile-{{ playerTile.type }} draggable" data-id="{{ playerTile.id }}"></div>
		{% endfor %}
	</div>

	<br />
	<script type="text/javascript">
		$(function () {
			board.init();
		});
	</script>

	<div id="gameover_success_modal" class="modal fade" tabindex="-1" role="dialog">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Success!</h4>
				</div>
				<div class="modal-body">
					<p>You did well</p>
				</div>
				<div class="modal-footer">
					<a href="/next-level" class="btn btn-primary">Next level</a>
				</div>
			</div><!-- /.modal-content -->
		</div><!-- /.modal-dialog -->
	</div><!-- /.modal -->
{% endblock %}
